<link href="/assets/bootstrap.css" rel="stylesheet" id="bootstrap-css">
<link href="/assets/signin.css" rel="stylesheet" id="bootstrap-css">
<div class="sidenav">
         <div class="login-main-text">
            <h2>Application<br> Login Page</h2>
            <p>Login or register from here to access.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <p>WELCOME <%= data.username %></p>
                 YOU ARE SUCCESSFULLY LOGGED IN!
            </div>
          <a href="/signin"><button type="button" class="btn btn-danger">Logout</button></a>
         </div>
      </div>