
<link rel="stylesheet" href="/assets/bootstrap.css">
<link rel="stylesheet" href="/assets/view.css">
<link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>

<script>
   function getDocHeight(doc) {
    doc = doc || document;
    var body = doc.body, html = doc.documentElement;
    var height = Math.max( body.scrollHeight, body.offsetHeight, 
        html.clientHeight, html.scrollHeight, html.offsetHeight );
    return height;
}
function setIframeHeight(id) {
    var ifrm = document.getElementById(id);
    var doc = ifrm.contentDocument? ifrm.contentDocument: 
        ifrm.contentWindow.document;
    ifrm.style.visibility = 'hidden';
    ifrm.style.height = "10px"; 
    ifrm.style.height = getDocHeight( doc ) + 4 + "px";
    ifrm.style.visibility = 'visible';
    document.getElementById("con").style.height = "auto";
}

</script> 

<nav class="navv">
<a href="/view" style="margin-right: 30%;height: 30px;"><button type="button" class="btn links">BLOGGGER</button></a>
    <a href="/post" class="link ml-4" ><button type="button " class="btn links">NEW BLOG</button></a>
    <a href="/contact"class="link ml-4" ><button type="button" class="btn links">CONTACT US</button></a>
    <a href="/aboutus"class="link ml-4" ><button type="button" class="btn links">ABOUT US</button></a>
    <a href="/term" class="link ml-4"><button type="button" class="btn links">TERMS AND CONDITIONS</button></a>
    <div class="dropdown"><a href="/signin" class="link"><button type="button" id="sign" class="btn dropdown">SIGN IN</button></a>
    <div class="dropdown-content">
      <a href="/register" id="link_1">Sign Up</a>
      <a href="/signin" id="link_2" onclick="return confirm('Are you sure you want to logout?')"style="display: none;">Logout</a>
    </div>
  </div>
  </li>
</ul>
<h1 style="position: absolute;color: white;font-weight: 800;font-size: 2.5rem;font-family:Verdana, Geneva, Tahoma, sans-serif ;text-align: center;left: 12.5%;right: 12.5%;top: 30%;">Terms And Conditions</h1>
</nav>
            <div class="container-fluid" style="background-color: rgb(238, 238, 238);">
                    <div id="ifrm" onload="this.height=this.contentWindow.document.body.scrollHeight;" style="width: 60%;position:relative;left: 20%;right: 20%;margin-top: 3%;border: none;background-color: white;box-shadow: 0.5px 0.5px 8px 1px grey;border-radius: 10px;padding: 2%;" >

                
                        Explain what is 'terms and condition'
                        <br>
                        <br>
                        What is '**Insert Blogging-Platforn-Name(BPN)**'
                        <br>
                        <br>
                        Please use BPN responsibly and in compliance with these Terms. If you don't, we reserve the right to terminate your account in accordance with the "Cancellation and Termination" section of these Terms of Service.
                        <br>
                        <br>
                        1. Use of **BPN**<br>
                        To use BPN, you must satisfy **Insert Conditions**
                        <br><br>
                        You are responsible for the security of your passwords and for any use of your account. You may not allow multiple people to use the same account or otherwise access **BPN** in a manner intended to avoid paying for payable services
                        <br>
                        You are responsible for obtaining access to **BPN** and that access may involve third party fees (such as Internet service provider or airtime charges). You are responsible for those fees. In addition, you must provide and are responsible for all equipment necessary to access the Site.
                        <br>
                        You may not use **BPN**:
                        <br>
                        For any illegal purpose which is not consistent with applicable laws or to submit, post content that is unlawful, defamatory, libelous, invasive of another's privacy, abusive, threatening, indecent or otherwise objectionable;
                        To submit, post content that contains viruses, corrupted files, or any other similar software or programs that may damage the operation of **BPN** or another person's computer
                        If you are not allowed to access **BPN** under the laws of the region from which you are accessing this website<br><br>
                        2. Customer data<br>
                        **BPN** claims no ownership or control over any posted data, except for the license expressly granted by you to **BPN**, you retain all rights to the posted data and you are responsible for protecting those rights and interests, as appropriate.
                        <br>
                        You understand that blogsblog **BPN** will display posted data to you and any visitors of that blog. You are solely responsible for any data that you allow to be viewed.
                        <br>
                        You are solely responsible for configuring **BPN** to allow appropriate access to your posted data. **BPN** is not responsible if you fail to configure, or misconfigure, your blog and inadvertently allow unauthorized parties to view any posted data.
                        <br><br>
                        3. External Sites and Content<br>
                        **BPN** may contain links to other websites or content (“Third Party Sites”). **BPN** does not endorse, sanction or verify the accuracy or ownership of the information contained in/on any Third Party Site or any products or services advertised on Third Party Sites. If you decide to leave the Site and navigate to Third Party Sites, or install any software or download content from any such Third Party Sites, you do so at your own risk. Once you access a Third Party Site through a link on our Site, you may be subject to the terms and conditions of such Third Party Site.
                        You should review the applicable policies, including privacy and data gathering practices, of any Third Party Site to which you navigate from the Site, or relating to any software you use or install from a Third Party Site, including any applicable license agreement. Concerns regarding a Third Party Site should be directed to the Third Party Site itself. **BPN** bears no responsibility for any action associated with any Third Party Site.
                        <br><br>
                        4. License and Restrictions<br>
                        Excluding Third Party Sites and their related content, all of the content available on or through **BPN**, including text, photographs, graphics, logos, trade/service marks, and/or audiovisual content, but expressly excluding posted data, is owned and/or controlled by **BPN**, its licensors or **BPN** users and is protected, as applicable, by copyright, trademark, and trade secret laws, and other proprietary rights. You acknowledge that **BPN** and any underlying technology or software used in connection with **BPN** contain our proprietary information.
                        <br>
                        You will not, nor will you attempt to (or allow anyone else to or attempt to):
                        <br>
                        Copy, modify, create a derivative work of, reverse engineer, decompile or otherwise attempt to extract the source code of **BPN** or any part thereof;
                        Attempt to disable or circumvent any security or verification mechanism used by **BPN**;
                        Use **BPN** in any manner, or otherwise engage in any activity, that could damage, disable, overburden or impair our servers or networks, or interfere with or disrupt **BPN** or any other users' use or enjoyment of **BPN**.<br>
                        Attempt to gain unauthorized access to any of **BPN**, member accounts, or computer systems or networks, through hacking, password mining or any other means.
                        Remove any notices of copyright, trademark or other proprietary rights contained in or accessible through **BPN** or in any content or other material obtained via **BPN**;
                        Use any robot, spider, website search/retrieval application, or other automated device, process or means to access, retrieve or index any portion of **BPN**;
                        Reformat or frame any portion of the web pages that are part of **BPN**;
                        Use **BPN** for commercial purposes not permitted under these Terms;
                        Create user accounts by automated means or under false or fraudulent pretenses;
                        Provide or use tracking or monitoring functionality in connection with **BPN**, including, without limitation, to identify other users’ actions or activities;
                        Impersonate or attempt to impersonate any other person or entity, including without limitation **BPN** or any user of **BPN**
                        Collect or store personal data about other users in connection with the prohibited activities described in this paragraph.<br><br>
                        5. Our Copyright Dispute Policy<br>
                        **BPN** respects the intellectual property of others and requires that our users do the same. If you believe that material or content residing on or accessible through **BPN** infringes a copyright, please send a notice of copyright infringement containing the following information to the Designated Copyright Agent listed below:
                        <br>
                        Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works are covered by a single notification, a representative list of such works;
                        Identification of the claimed infringing material and information reasonably sufficient to permit us to locate the material on **BPN** (providing the URL(s) of the claimed infringing material satisfies this requirement);
                        Information reasonably sufficient to permit us to contact you, such as an address, telephone number, and an email address;
                        A statement by you that you have a good faith that the disputed use is not authorized by the copyright owner, its agent, or the law;
                        A statement by you, made under penalty of perjury, that the above information in your notification is accurate and that you are the copyright owner or are authorized to act on the copyright owner's behalf
                        Your physical or electronic signature.
                        Our Designated Copyright Agent for notification of claimed infringement can be reached by email at: dca@gmail.com or at the following postal address:
                        <br>
                        **Insert dca address**
                        <br>
                        Last updated: Apr 11 2020
                        <br>
                        **BPN** - 2020 all right reserved
                        <br>
                        **BPN** and the **BPN** logos are Trademarks of **BPN**.<br></div>
                  <section class="row">
                    <footer class="foot">
                      <div class="footdiv">
                        <a href="/view" class="linkfoot" ><button type="button " class="btn linksfoot">Home</button></a>
                        <a href="/contact"class="linkfoot" ><button type="button" class="btn linksfoot">Contact Us</button></a>
                        <a href="/aboutus"class="linkfoot" ><button type="button" class="btn linksfoot">About Us</button></a>
                        <a href="/sitemap"class="linkfoot" ><button type="button" class="btn linksfoot">Site Map</button></a>
                        <a href="/term" class="linkfoot"><button type="button" class="btn linksfoot">Terms And Conditions</button></a>
                        <a href="/feedback" class="linkfoot"><button type="button" class="btn linksfoot" style="border: none;">Feedback</button></a>
                      </div>
                      <div style="margin-top: 2%;font-size: 0.8rem;">
                        Copyright &copy; Blogspot 2020
                      </div>
                  </footer> 
      </section>
      </div>
      <script>

        if(<%=isLoggedin%>){
          
    
          document.getElementById('sign').innerHTML='<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"width="30" height="30"viewBox="0 0 172 172"style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M0,86c0,-47.49649 38.50351,-86 86,-86c47.49649,0 86,38.50351 86,86c0,47.49649 -38.50351,86 -86,86c-47.49649,0 -86,-38.50351 -86,-86zM86,158.24c39.89705,0 72.24,-32.34295 72.24,-72.24c0,-39.89705 -32.34295,-72.24 -72.24,-72.24c-39.89705,0 -72.24,32.34295 -72.24,72.24c0,39.89705 32.34295,72.24 72.24,72.24z" fill="#000000"></path><g fill="#000000"><path d="M85.99905,28.40867c-15.77022,0 -28.552,12.78178 -28.552,28.552v4.75867c0,15.77022 12.78178,28.552 28.552,28.552c15.77022,0 28.552,-12.78178 28.552,-28.552v-4.75867c0,-15.77022 -12.78178,-28.552 -28.552,-28.552zM85.98975,104.54733c-19.06322,0 -43.52277,10.31129 -50.56083,19.4622c-4.34942,5.65805 -0.20901,13.84846 6.92423,13.84846h87.2825c7.13324,0 11.27365,-8.19041 6.92423,-13.84846c-7.03807,-9.14616 -31.50691,-19.4622 -50.57013,-19.4622z"></path></g><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,169.42c-46.07159,0 -83.42,-37.34841 -83.42,-83.42v0c0,-46.07159 37.34841,-83.42 83.42,-83.42h0c46.07159,0 83.42,37.34841 83.42,83.42v0c0,46.07159 -37.34841,83.42 -83.42,83.42z" fill="none"></path><path d="M86,165.98c-44.17173,0 -79.98,-35.80827 -79.98,-79.98v0c0,-44.17173 35.80827,-79.98 79.98,-79.98h0c44.17173,0 79.98,35.80827 79.98,79.98v0c0,44.17173 -35.80827,79.98 -79.98,79.98z" fill="none"></path><path d="M86,153.94c-37.52223,0 -67.94,-30.41777 -67.94,-67.94v0c0,-37.52223 30.41777,-67.94 67.94,-67.94v0c37.52223,0 67.94,30.41777 67.94,67.94v0c0,37.52223 -30.41777,67.94 -67.94,67.94z" fill="none"></path><path d="M86,150.5c-35.62237,0 -64.5,-28.87763 -64.5,-64.5v0c0,-35.62237 28.87763,-64.5 64.5,-64.5v0c35.62237,0 64.5,28.87763 64.5,64.5v0c0,35.62237 -28.87763,64.5 -64.5,64.5z" fill="none"></path><path d="M86,146.2c-33.24754,0 -60.2,-26.95246 -60.2,-60.2v0c0,-33.24754 26.95246,-60.2 60.2,-60.2h0c33.24754,0 60.2,26.95246 60.2,60.2v0c0,33.24754 -26.95246,60.2 -60.2,60.2z" fill="none"></path><path d="M86,142.76c-31.34768,0 -56.76,-25.41232 -56.76,-56.76v0c0,-31.34768 25.41232,-56.76 56.76,-56.76h0c31.34768,0 56.76,25.41232 56.76,56.76v0c0,31.34768 -25.41232,56.76 -56.76,56.76z" fill="none"></path><path d="M86,139.32c-29.44782,0 -53.32,-23.87218 -53.32,-53.32v0c0,-29.44782 23.87218,-53.32 53.32,-53.32v0c29.44782,0 53.32,23.87218 53.32,53.32v0c0,29.44782 -23.87218,53.32 -53.32,53.32z" fill="none"></path><path d="M86,135.88c-27.54796,0 -49.88,-22.33204 -49.88,-49.88v0c0,-27.54796 22.33204,-49.88 49.88,-49.88v0c27.54796,0 49.88,22.33204 49.88,49.88v0c0,27.54796 -22.33204,49.88 -49.88,49.88z" fill="none"></path><path d="M86,136.74c-28.02293,0 -50.74,-22.71707 -50.74,-50.74v0c0,-28.02293 22.71707,-50.74 50.74,-50.74v0c28.02293,0 50.74,22.71707 50.74,50.74v0c0,28.02293 -22.71707,50.74 -50.74,50.74z" fill="none"></path><path d="M86,133.3c-26.12307,0 -47.3,-21.17693 -47.3,-47.3v0c0,-26.12307 21.17693,-47.3 47.3,-47.3v0c26.12307,0 47.3,21.17693 47.3,47.3v0c0,26.12307 -21.17693,47.3 -47.3,47.3z" fill="none"></path><path d="M86,134.16c-26.59803,0 -48.16,-21.56197 -48.16,-48.16v0c0,-26.59803 21.56197,-48.16 48.16,-48.16v0c26.59803,0 48.16,21.56197 48.16,48.16v0c0,26.59803 -21.56197,48.16 -48.16,48.16z" fill="none"></path><path d="M86,130.72c-24.69817,0 -44.72,-20.02183 -44.72,-44.72v0c0,-24.69817 20.02183,-44.72 44.72,-44.72v0c24.69817,0 44.72,20.02183 44.72,44.72v0c0,24.69817 -20.02183,44.72 -44.72,44.72z" fill="none"></path><path d="M86,131.58c-25.17314,0 -45.58,-20.40686 -45.58,-45.58v0c0,-25.17314 20.40686,-45.58 45.58,-45.58h0c25.17314,0 45.58,20.40686 45.58,45.58v0c0,25.17314 -20.40686,45.58 -45.58,45.58z" fill="none"></path><path d="M86,128.14c-23.27328,0 -42.14,-18.86672 -42.14,-42.14v0c0,-23.27328 18.86672,-42.14 42.14,-42.14h0c23.27328,0 42.14,18.86672 42.14,42.14v0c0,23.27328 -18.86672,42.14 -42.14,42.14z" fill="none"></path><path d="M86,130.72c-24.69817,0 -44.72,-20.02183 -44.72,-44.72v0c0,-24.69817 20.02183,-44.72 44.72,-44.72v0c24.69817,0 44.72,20.02183 44.72,44.72v0c0,24.69817 -20.02183,44.72 -44.72,44.72z" fill="none"></path><path d="M86,127.28c-22.79831,0 -41.28,-18.48169 -41.28,-41.28v0c0,-22.79831 18.48169,-41.28 41.28,-41.28v0c22.79831,0 41.28,18.48169 41.28,41.28v0c0,22.79831 -18.48169,41.28 -41.28,41.28z" fill="none"></path><path d="M86,129c-23.74824,0 -43,-19.25176 -43,-43v0c0,-23.74824 19.25176,-43 43,-43v0c23.74824,0 43,19.25176 43,43v0c0,23.74824 -19.25176,43 -43,43z" fill="none"></path><path d="M86,125.56c-21.84838,0 -39.56,-17.71162 -39.56,-39.56v0c0,-21.84838 17.71162,-39.56 39.56,-39.56v0c21.84838,0 39.56,17.71162 39.56,39.56v0c0,21.84838 -17.71162,39.56 -39.56,39.56z" fill="none"></path><path d="M86,129.86c-24.22321,0 -43.86,-19.63679 -43.86,-43.86v0c0,-24.22321 19.63679,-43.86 43.86,-43.86h0c24.22321,0 43.86,19.63679 43.86,43.86v0c0,24.22321 -19.63679,43.86 -43.86,43.86z" fill="none"></path><path d="M86,126.42c-22.32335,0 -40.42,-18.09665 -40.42,-40.42v0c0,-22.32335 18.09665,-40.42 40.42,-40.42v0c22.32335,0 40.42,18.09665 40.42,40.42v0c0,22.32335 -18.09665,40.42 -40.42,40.42z" fill="none"></path><path d="M86,140.18c-29.92279,0 -54.18,-24.25721 -54.18,-54.18v0c0,-29.92279 24.25721,-54.18 54.18,-54.18v0c29.92279,0 54.18,24.25721 54.18,54.18v0c0,29.92279 -24.25721,54.18 -54.18,54.18z" fill="none"></path><path d="M86,136.74c-28.02293,0 -50.74,-22.71707 -50.74,-50.74v0c0,-28.02293 22.71707,-50.74 50.74,-50.74v0c28.02293,0 50.74,22.71707 50.74,50.74v0c0,28.02293 -22.71707,50.74 -50.74,50.74z" fill="none"></path><path d="M86,150.5c-35.62237,0 -64.5,-28.87763 -64.5,-64.5v0c0,-35.62237 28.87763,-64.5 64.5,-64.5v0c35.62237,0 64.5,28.87763 64.5,64.5v0c0,35.62237 -28.87763,64.5 -64.5,64.5z" fill="none"></path><path d="M86,147.06c-33.72251,0 -61.06,-27.33749 -61.06,-61.06v0c0,-33.72251 27.33749,-61.06 61.06,-61.06v0c33.72251,0 61.06,27.33749 61.06,61.06v0c0,33.72251 -27.33749,61.06 -61.06,61.06z" fill="none"></path><path d="M86,155.66c-38.47216,0 -69.66,-31.18784 -69.66,-69.66v0c0,-38.47216 31.18784,-69.66 69.66,-69.66v0c38.47216,0 69.66,31.18784 69.66,69.66v0c0,38.47216 -31.18784,69.66 -69.66,69.66z" fill="none"></path><path d="M86,152.22c-36.5723,0 -66.22,-29.6477 -66.22,-66.22v0c0,-36.5723 29.6477,-66.22 66.22,-66.22v0c36.5723,0 66.22,29.6477 66.22,66.22v0c0,36.5723 -29.6477,66.22 -66.22,66.22z" fill="none"></path><path d="M86,157.38c-39.42209,0 -71.38,-31.95791 -71.38,-71.38v0c0,-39.42209 31.95791,-71.38 71.38,-71.38v0c39.42209,0 71.38,31.95791 71.38,71.38v0c0,39.42209 -31.95791,71.38 -71.38,71.38z" fill="none"></path><path d="M86,153.94c-37.52223,0 -67.94,-30.41777 -67.94,-67.94v0c0,-37.52223 30.41777,-67.94 67.94,-67.94v0c37.52223,0 67.94,30.41777 67.94,67.94v0c0,37.52223 -30.41777,67.94 -67.94,67.94z" fill="none"></path><path d="M86,160.82c-41.32194,0 -74.82,-33.49806 -74.82,-74.82v0c0,-41.32194 33.49806,-74.82 74.82,-74.82v0c41.32194,0 74.82,33.49806 74.82,74.82v0c0,41.32194 -33.49806,74.82 -74.82,74.82z" fill="none"></path><path d="M86,157.38c-39.42209,0 -71.38,-31.95791 -71.38,-71.38v0c0,-39.42209 31.95791,-71.38 71.38,-71.38v0c39.42209,0 71.38,31.95791 71.38,71.38v0c0,39.42209 -31.95791,71.38 -71.38,71.38z" fill="none"></path><path d="M86,161.68c-41.79691,0 -75.68,-33.88309 -75.68,-75.68v0c0,-41.79691 33.88309,-75.68 75.68,-75.68v0c41.79691,0 75.68,33.88309 75.68,75.68v0c0,41.79691 -33.88309,75.68 -75.68,75.68z" fill="none"></path><path d="M86,158.24c-39.89705,0 -72.24,-32.34295 -72.24,-72.24v0c0,-39.89705 32.34295,-72.24 72.24,-72.24v0c39.89705,0 72.24,32.34295 72.24,72.24v0c0,39.89705 -32.34295,72.24 -72.24,72.24z" fill="none"></path><path d="M86,164.26c-43.2218,0 -78.26,-35.0382 -78.26,-78.26v0c0,-43.2218 35.0382,-78.26 78.26,-78.26h0c43.2218,0 78.26,35.0382 78.26,78.26v0c0,43.2218 -35.0382,78.26 -78.26,78.26z" fill="none"></path><path d="M86,160.82c-41.32194,0 -74.82,-33.49806 -74.82,-74.82v0c0,-41.32194 33.49806,-74.82 74.82,-74.82h0c41.32194,0 74.82,33.49806 74.82,74.82v0c0,41.32194 -33.49806,74.82 -74.82,74.82z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,165.12c-43.69677,0 -79.12,-35.42323 -79.12,-79.12v0c0,-43.69677 35.42323,-79.12 79.12,-79.12v0c43.69677,0 79.12,35.42323 79.12,79.12v0c0,43.69677 -35.42323,79.12 -79.12,79.12z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,154.8c-37.99719,0 -68.8,-30.80281 -68.8,-68.8v0c0,-37.99719 30.80281,-68.8 68.8,-68.8h0c37.99719,0 68.8,30.80281 68.8,68.8v0c0,37.99719 -30.80281,68.8 -68.8,68.8z" fill="none"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none"></path><path d="M86,158.24c-39.89705,0 -72.24,-32.34295 -72.24,-72.24v0c0,-39.89705 32.34295,-72.24 72.24,-72.24h0c39.89705,0 72.24,32.34295 72.24,72.24v0c0,39.89705 -32.34295,72.24 -72.24,72.24z" fill="none"></path></g></svg>'
          document.getElementById('link_1').href='/profile'
          document.getElementById('link_1').innerHTML="My Profile"
          document.getElementById('link_2').style.display='block'
        }
      </script>